<main class="p-5">
    <div class="row g-5">
        <div class="col-12">
            <div>
                <label class="form-label">Email adress</label>
                <input type="color" class="form-control">
                <div class="form-text text-danger">Error.</div>
            </div>
        </div>
    </div>
</main>

<div class="col-12">
    <div>
        
    </div>
</div>