<main>
    <h1 class="text-center text-uppercase">Hi world</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3>3 title</h3>

    <hr>

    <div class="display-1 text-muted">Hi world</div>
    <div class="display-2">Second</div>
    <div class="display-3">3 title</div>

    <hr>

 <div class="text-muted text-end" >
    Додаток
 </div>

    <hr>

    <a href="#" class="btn btn-primary">
        Button primary
    </a>

    <hr>

    <p class="text-dark">My text</p>

    <hr>

    <button class="btn btn-outline-primary">Test button</button>

    <hr>

    <div class="card">
        <div class="card-body">
            Coment
        </div>
    </div>


</main>